@page "/"

@using TimCoreyInDepthSectionTwo.Data
@inject IDataAccessSingleton SingletonDataService
@inject IDataAccessScoped ScopedDataService
@inject IDataAccessTransient TransientDataService
@inject InjectedDataService InjectedDataService
@using Microsoft.Extensions.Logging
@inject ILogger<Index> log

<h1>Hello, world!</h1>

<div>
    Welcome to your new app.

    Singleton: @SingletonDataService.getDumbInt()
   
    Scoped: @ScopedDataService.getDumbInt()
    Transient @TransientDataService.getDumbInt()


    <p>
        From class:

        Singleton: @injectedData.InjectedSingletonInt
        Scoped: @injectedData.InjectedScopedInt
        Transient: @injectedData.InjectedTransientInt
    </p>
</div>

@code {
    private InjectedData injectedData;

    protected override async Task OnInitializedAsync()
    {
        injectedData = await InjectedDataService.GetInjectedDataClass();
        log.LogInformation("getting injectedData");
    }
}